/*
Style Name: HTML Atributes & Forms 
Description: Class File
Author: Tonya Oliver 
Version: 1.0
Tags: Final Project
*/

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* ___________________________________________

       CSS Guide
___________________________________________ */

/* 01. General Styles
       - Reset
       - Global
         - General
         - Floats
         - Brand Colors
         - Title styles
         - Font Awesome                       
   02. CSS Grid
        - Grid items
   03. Site Header
       - Logo
       - Nav styling
   04. Hero
   05. Blog
   06. FAQ
        - Dropdown &content
   07. Contact Form
   08. About Page
        - About section
        - Quality section
        - Reviews   
   09. Product Page
        - Product img    
        - Product btn
        - Product btn edit
   10. Footer
        - Social links
        - Footer Nav
        -Copyright                
/* _____________________________________ */


/*_______________________________________

   01. General Styles
   _____________________________________ */

/*-----------------
    Reset
--------------------*/

   body{
    margin: 0;
    padding: 0;
    color: #4d4d4d;
 }

 h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
 }

/*------------------
Global
------------------*/

    /*-----------Start General--------*/

   .hidden {
        display: none;
    }

    .border-bottom {
        border-bottom: 2px solid #21759b;
        margin-bottom: 4em;
        width: 100%;
    }

    .border{
        border: 3px solid #ba9bc9;
    }

    /*---------------End General --------*/

    /*------------- start Floats -------------*/
  
     .margin-left {
        margin-left: 17em;
     }
     /*.margin-right {
         margin-right: 3em;
     }
     .margin-top {
        margin-bottom: 5em;
     }*/
     .margin-small-left {
         margin-left: 6em;

     }
    /*------------End Floats -----------*/
    /*----------- Brand Colours start -------*/

    .rs-blue {
        color: #9dd0d1;
    }
    .rs-pink {
        color: #ba9bc9;
    }
    .rs-grey {
        color: #808080;
    }

    /*------------ End Brand Colours-----*/
    /*-------- Start Title Styles---------*/

h2 {
    background: #fff;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    font-size: 2em;
    font-weight: 400;
}
h3{
    font-size: 4em
}

.title {
    display: grid;
    grid-column: 1 / span 4;
    grid-template-columns: 1fr;
    margin-top: 2em;
 }
    /*-------- End Title Styles---------*/

    /*--------- start Font Awesome ---------*/

    .rawstone {
        color: #ba9bc9;
        font-size: 1.3em;
    }
    .bold{
        font-weight: 700;
    }
    /*--------- End Font Awesome ---------*/

/*______________________________

02. CSS Grid

______________________________*/

@supports (grid-area: auto){

    .site{
         max-width: none;
    }

    /*------ start Grid Items---------------*/
    
    .head, .main > *, .foot > *{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
   }


    .one-item {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: 1fr;
     }

    .two-items {
    display: grid;
    max-height: fit-content;
    grid-column: 2 / span 2;
    grid-template-columns: repeat(2, 1fr);
    justify-content:space-evenly;
    padding-top: 2em;
    padding-bottom: 2em;
 }

    .three-items {
    display: grid;
    grid-column: 1 / span 4;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    margin-left: 3em;
 }
 

    .four-items {
    display: grid;
    grid-column: 1 / span 4;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    margin-left: 4em;
 }

    /*--------end grid items---------*/

/*____________________________________

    03. Site Header
    ________________________________*/

    header {
        position: sticky;
        top: 0em;
        background-color: #fff;
        border-bottom: 1px solid #e6e6e6;
        box-shadow: 0px 5px 8px #888;
    }
    /*-----Start Logo----------*/

    .logo {
        grid-column: 1 / span 1;
    }

    .logo img {
        width: 70%;
        margin-left: 5em;
    }
    /*-----End Logo----------*/
    /*------Start Nav Styling ---------*/

    .nav {
        grid-column: 2 / span 3;
        margin: 0;
     }
    nav ul {
        margin: 0;
        padding: 2em;
        text-decoration: none;
        text-align: end;
        color: darkslategray;
        font-size: 1.5em;
    }

    nav li {
    display: inline;
    margin-right: 4em;
}
    nav li:last-child{
    margin-right: 0em;
}
    nav li a {
    color:#4d4d4d;
    font-size: 1em;
    text-decoration: none;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

    nav li a:hover {
    border-bottom: 3px solid #ba9bc9;
    padding-bottom:.4em;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    
}

    nav li a.active {
    padding-bottom: .5em;
    border-bottom: 3px solid #ba9bc9;
}

  /*-------- End nav styling--------*/
  
/*_________________________________

    04. Hero

__________________________________*/


.hero {
    margin: 0 0;
 }
 
 .hero-img img {
    width: 100%;
 }
 
 .hero-img {
    display: grid;
    grid-column: span 4;
    margin-bottom: 1rem;
 }

 .hero-img > * {
    grid-column: 1;
    grid-row: 1;
 }

/*______________________________________
BLOG
_____________________________________*/

.blog-pic {
    margin-left: 8em;
}
.blog-t {
    margin-top: 2em;
    margin-right: 2em;
}
.blog-t p {
    font-weight: 500;
    font-size: 1.5em;
}
.blog-t p span {
    color: black;
    font-size: .75em;
    font-weight: 800;
}


/* _____________________________________

   02. FAQs
   _____________________________________ */

/*----------Start dropdown & content-----------*/

.dropbtn {
    background-color: #4d4d4d;
    width: 100%;
    color: white;
    border: none;
    margin: .5em;
    padding: 1em;
    font-size: 2em;
  }
  .dropbtn:hover {
    color: lightslategrey;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
  }
  
  .dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-width: 960px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ba9bc9;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
  
  .dropdown:hover .dropbtn {
    background-color: #ba9bc9;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
/*----------End dropdown & content-----------*/
    
/*__________________________________
 Contact Form
 ___________________________________*/
 .container {
    border-radius: 5px;
    background-color: #9dd0d1;
    padding: 4em 4em 4em 4em;
    margin-left: 25%;
    margin-right: 25%;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
  input[type=submit] {
    background-color: #21759b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /*___________________________________________

ABOUT PAGE
__________________________________________*/

/*----------About section start-----------*/
.about img {
    width: 445px;
    height: 320px;
}
.about p {
    font-size: 1.5em;
}
/*--------About section End------*/
/*------Quality section Start-----*/
.Quality p {
    font-size: 1.5em;

}
/*------Quality section End----*/
/*------Reviews section Start-------*/

.reviews img{
    border-radius: 120px;
}
.reviews p{
    font-size: 1.5em;
    text-align: center;
}
.big-quote {
    font-size: 3em;

}
/*------Reviews section End--------*/

/*_________________________________________

 PRODUCT PAGE START

 _____________________________________*/
 /*--------Product Img start---------*/

 .necklaces img{
    border: 3px solid #ba9bc9;
}
.bracelets img{
   border: 3px solid #ba9bc9;
}
.earrings img{
   border: 3px solid #ba9bc9;
}
/*---------Product Img End---------*/
/*--------Product btn start--------*/
.product-img button {
   border: none;
   background: #3a7999;
   color: #f2f2f2;
   padding: 10px;
   margin-left: 7em;
   font-size: 18px;
   border-radius: 5px;
   position: static;
   box-sizing: border-box;
   transition: all 500ms ease;
}
.product-img button:before {
   content:'';
   position: absolute;
   top: 0px;
   left: 0px;
   width: 0px;
   height: 42px;
   background: rgba(255,255,255,0.3);
   border-radius: 5px;
   transition: all 2s ease;
}
.product-img button:hover:before {
   width: 100%;
}
/*--------Product btn end--------*/
/*--------Product btn edit start--------*/
.four-items .product-img button{
    margin-right: 1em;
    margin-left: 3em;
}
.bracelets .three-items .product-img button{
margin-left: 9em;
}
/*--------Product btn edit end--------*/

  /*________________________________
  Footer
  _________________________________*/

.footer {
    position: relative;
    top: 0em;
    background-color:#999999;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0px 5px 8px #888;
}
/*----------Start social links------*/
.social-links {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    margin: 2em 0 0 3em;
    padding-left: 25%;
    padding-top: 2em;
}
.social-links img {
    display: inline-flexbox;
    width: 75px;
    height: 75px;
}
/*----------End social links------*/
/*---------Start Footer nav-------*/

.footer nav {
    grid-column: 1 / span 4;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
 }

.footer nav ul {
margin: 0;
text-decoration: none;
text-align: end;
color: #4d4d4d;
font-size: 1.5em;
padding: 0;
}

.footer nav li {
margin-right:1em;
padding: .6em;
display: inline;
}
}
.footer nav li:last-child{
    margin: 0;
}

.footer nav li a {
color:#4d4d4d;
font-size: 1em;
text-decoration: none;
-webkit-transition: background-color 500ms linear;
-ms-transition: background-color 500ms linear;
transition: background-color 500ms linear;
}
}


.footer nav li a:hover {
border-bottom: 3px solid #ba9bc9;
padding-bottom:.4em;
-webkit-transition: background-color 500ms linear;
-ms-transition: background-color 500ms linear;
transition: background-color 500ms linear;
}


.footer nav li a.active {
padding-bottom: .5em;
border-bottom: 3px solid #ba9bc9;
}
/*---------End Footer nav-------*/
/*---------Start copyright-------*/

.copyright {
    font-size: .7em;
    text-align: center;
    padding-bottom: 2em;
 }
 .border-top {
    border-top: 1px solid #ba9bc9;
    padding-top: 1.5em;
 }
 /*---------End copyright-------*/

}


